<h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo a placeat deleniti maiores facere, illo distinctio quis laudantium ipsa maxime mollitia itaque quasi illum recusandae totam repellendus dolorum pariatur. Autem!</h1>
<form action="/test1" method="post">
    <input type="number" name="num1">
    <input type="number" name="num2">
    <input type="submit" value="add">
</form>